.box1 {
	border-bottom: 2px solid rgb(233, 225, 225);
	width: 900px;
	height: 200px;
	margin: auto;
	margin-bottom: 3px;
	position: relative;
}

.box2 {
	display: inline-block;
	position: absolute;
	overflow: hidden;
}

.box2:hover .img11, .box2:focus .img11 {
	transform: scale(1.4);
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
}

.box3 {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 320px;
}


.sessions {
	display: inline-block;
	margin: auto;
}

.img11 {
	width: 300px;
	height: 180px;
	transition: transform 1s ease;
}

.img22 {
	width: 150px;
	height: 25px;
}

.price {
	display: inline-block;
	position: absolute;
	left: 450px;
}

.sp01 {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btnbuy {
	position: absolute;
	padding: 5px 20px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #127e99;
	border: none;
	border-radius: 15px;
	font-size: 15px;
	left: 330px;
	bottom: -9px;
}

.btnbuy:hover {
	background-color: #8aaa8b
}

.btnbuy:active {
	background-color: #3e8e41;
	transform: translateY(4px);
}

.tb1 {
	width: 400px;
	border-collapse: collapse;
	margin: auto;
}

.h01 {
	font-family: serif;
	text-align: center;

	/* 嚙踝蕭��蕭���蕭����蕭��嚙踝蕭嚙�  ���蕭謚迎蕭�����蕭���蹓綽蕭謘輻巨嚙踝��嚙踝蕭 嚙踝��嚙踐高嚙踝�蕭��蕭�嚙賣嚙�  嚙踝蕭��蕭蹎��蕭   */
}

.btn-info {
	width: 140px;
	height: 40px;
	margin: 5px;
	border: 2px, solid;
	background-color: white;
	color: rgb(57, 119, 109);
}

thead {
	color: burlywood;
	text-transform: capitalize;
	border-collapse: collapse;
	text-align: center;
}

.btn-primary {
	background-color: rgb(57, 119, 109);
	color: white;
	float: left;
	/* ����蕭嚙踐摨��蕭��嚙踝�蕭嚙賣�嚙踝蕭 */
}

.box4 {
	width: 900px;
	margin: auto;
	margin-top: 200px;
	position: relative;
}

.field001 {
	width: 1000px;
	border: 3px solid gray;
	border-radius: 20px;
	margin:auto;
	padding:50px;
}

.lg001 {
	margin:auto;
	font-weight: bold;
	font-size: 40px;
	color: rgb(85, 79, 79);
	width:450px;
	text-align:center;
}

.subbb {
	text-align: center;
	padding:20px;
}

.ttt {
	font-size: 20px;
	text-align: center;
	outline: none;
	color: #fff;
	background-color: #127e99;
	border: none;
	border-radius: 15px;
}

.form001{
	margin-top:10%;
	
}

.icon-bar {
	width: 100%;
	/* Full-width */
	background-color: #555;
	/* Dark-grey background */
	overflow: auto;
	/* Overflow due to float */
}

.icon-bar a {
	float: left;
	/* Float links side by side */
	text-align: center;
	/* Center-align text */
	width: 16.6%;
	/* Equal width (5 icons with 20% width each = 100%) */
	padding: 6px 3px 1px 3px;
	/* Some top and bottom padding */
	transition: all 0.3s ease;
	/* Add transition for hover effects */
	color: white;
	/* White text color */
	font-size: 18px;
	/* Increased font size */
}

.icon-bar a:hover {
	background-color: gray;
	/* Add a hover color */
}

/* Fixed sidenav, full height */
.sidenav {
	display: inline-block;
	height: 700px;
	width: 150px;
	z-index: 1;
	top: 0;
	left: 200px;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
	padding-top: 20px;
	position: relative;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 30px;
	color: rgb(161, 154, 154);
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

/* Main content */
.main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: rgb(163, 168, 163);
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #ffffff;
	padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}